# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import geoapify_key

In [19]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
Cities_DF = pd.read_csv("output_/../cities.csv")

# Display sample data
Cities_DF.head()

,City,Country,Temperature,Humidity,Cloudiness,Windspeed,Latitude,Longitude,Date
0,saldanha,ZA,61.05,85,95,18.61,-33.0117,17.9442,1668978766
1,barrow,US,23.02,74,100,14.97,71.2906,-156.7887,1668978766
2,aranda de duero,ES,48.79,88,100,7.54,41.6704,-3.6892,1668978767
3,requena,ES,53.53,79,72,10.65,39.4883,-1.1004,1668978767
4,ancud,CL,56.53,52,1,3.38,-41.8697,-73.8203,1668978768

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [20]:
%%capture --no-display

# Configure the map plot
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE

#configure gmaps
gmaps.configure(api_key=geoapify_key)

#get locations and humidity
city_locations = Cities_DF[['Latitude', 'Longitude']].astype(float)
humidity = Cities_DF['Humidity'].astype(float)

#format layout of map
layout = {
    'width': '1000px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'}

#add heatmap
fig = gmaps.figure(map_type='HYBRID', layout=layout)

heat_layer = gmaps.heatmap_layer(city_locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='1000px'))

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [21]:
# Narrow down cities that fit criteria and drop any results with null values
# YOUR CODE HERE

myFavoriteWeather = Cities_DF.loc[(Cities_DF['Temperature'] >= 70) & (Cities_DF['Temperature'] <= 80) & 
                                  (Cities_DF['Windspeed'] <= 20) & (Cities_DF['Humidity'] <= 30)]
myFavoriteWeather

,City,Country,Temperature,Humidity,Cloudiness,Windspeed,Latitude,Longitude,Date
16,pacific grove,US,72.55,29,0,4.61,36.6177,-121.9166,1668978771
58,tessalit,ML,72.72,13,57,9.62,20.1986,1.0114,1668978783
98,arlit,NE,75.78,12,79,10.63,18.7369,7.3853,1668978797
158,bara,NG,77.47,27,4,8.32,10.3744,10.7288,1668978816
199,wukari,NG,79.38,30,68,4.29,7.8500,9.7833,1668978828
231,nioro,GM,77.25,20,100,3.85,13.3500,-15.7500,1668978838
238,guerrero negro,MX,71.80,30,2,7.56,27.9769,-114.0611,1668978840
259,pindiga,NG,76.53,27,2,7.31,9.9833,10.9333,1668978848
275,kidal,ML,75.70,11,78,9.31,18.4411,1.4078,1668978854
293,banikoara,BJ,78.62,21,91,4.45,11.2985,2.4386,1668978860
300,raga,SS,74.64,26,58,3.02,8.4596,25.6780,1668978863
307,taoudenni,ML,74.79,13,0,12.39,22.6783,-3.9836,1668978865
323,lompoc,US,75.78,20,0,12.66,34.6391,-120.4579,1668978573
337,adrar,MR,73.58,14,0,9.64,20.5022,-10.0711,1668978875
347,providencia,MX,78.42,23,0,7.36,28.7167,-111.5833,1668978804
374,kasane,BW,79.11,27,2,3.94,-17.8167,25.1500,1668978886
376,upington,ZA,74.80,9,98,3.91,-28.4478,21.2561,1668978887
384,ndele,CF,75.04,28,39,4.68,8.4109,20.6473,1668978889
386,mount isa,AU,76.77,20,40,8.05,-20.7333,139.5000,1668978889
444,diego de almagro,CL,76.68,27,0,11.16,-26.3667,-70.0500,1668978911
457,diffa,NE,74.46,18,100,9.19,13.3154,12.6113,1668978916
462,kanye,BW,72.09,13,99,5.55,-24.9667,25.3327,1668978918
496,jega,NG,77.25,19,26,7.74,12.2175,4.3792,1668978929

### Step 3: Create a new DataFrame called `hotel_df`.

In [22]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
# YOUR CODE HERE
hotel_df = myFavoriteWeather
hotel_df.reset_index(drop=True, inplace=True)
hotel_df

,City,Country,Temperature,Humidity,Cloudiness,Windspeed,Latitude,Longitude,Date
0,pacific grove,US,72.55,29,0,4.61,36.6177,-121.9166,1668978771
1,tessalit,ML,72.72,13,57,9.62,20.1986,1.0114,1668978783
2,arlit,NE,75.78,12,79,10.63,18.7369,7.3853,1668978797
3,bara,NG,77.47,27,4,8.32,10.3744,10.7288,1668978816
4,wukari,NG,79.38,30,68,4.29,7.8500,9.7833,1668978828
5,nioro,GM,77.25,20,100,3.85,13.3500,-15.7500,1668978838
6,guerrero negro,MX,71.80,30,2,7.56,27.9769,-114.0611,1668978840
7,pindiga,NG,76.53,27,2,7.31,9.9833,10.9333,1668978848
8,kidal,ML,75.70,11,78,9.31,18.4411,1.4078,1668978854
9,banikoara,BJ,78.62,21,91,4.45,11.2985,2.4386,1668978860
10,raga,SS,74.64,26,58,3.02,8.4596,25.6780,1668978863
11,taoudenni,ML,74.79,13,0,12.39,22.6783,-3.9836,1668978865
12,lompoc,US,75.78,20,0,12.66,34.6391,-120.4579,1668978573
13,adrar,MR,73.58,14,0,9.64,20.5022,-10.0711,1668978875
14,providencia,MX,78.42,23,0,7.36,28.7167,-111.5833,1668978804
15,kasane,BW,79.11,27,2,3.94,-17.8167,25.1500,1668978886
16,upington,ZA,74.80,9,98,3.91,-28.4478,21.2561,1668978887
17,ndele,CF,75.04,28,39,4.68,8.4109,20.6473,1668978889
18,mount isa,AU,76.77,20,40,8.05,-20.7333,139.5000,1668978889
19,diego de almagro,CL,76.68,27,0,11.16,-26.3667,-70.0500,1668978911
20,diffa,NE,74.46,18,100,9.19,13.3154,12.6113,1668978916
21,kanye,BW,72.09,13,99,5.55,-24.9667,25.3327,1668978918
22,jega,NG,77.25,19,26,7.74,12.2175,4.3792,1668978929

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [23]:
# Set parameters to search for a hotel
hotel_df['Hotel Name'] = ''

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 50000,
    "rankby": "prominence",
    "types": "lodging",
    "keyword": "hotel",
    "api_keys": geoapify_key,
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get variables type from df
    lat = row['Latitude']
    lng = row['Longitude']
    city = row['City']
    params["location"] = f'{lat},{lng}'
        
    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {city} hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except:
        print(f"Missing field/result for {city}... skipping.")
        
    print("------------")

C:\Users\S.Z\AppData\Local\Temp\ipykernel_13120\3448130591.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = ''

Missing field/result for pacific grove... skipping.
------------
Missing field/result for tessalit... skipping.
------------
Missing field/result for arlit... skipping.
------------
Missing field/result for bara... skipping.
------------
Missing field/result for wukari... skipping.
------------
Missing field/result for nioro... skipping.
------------
Missing field/result for guerrero negro... skipping.
------------
Missing field/result for pindiga... skipping.
------------
Missing field/result for kidal... skipping.
------------
Missing field/result for banikoara... skipping.
------------
Missing field/result for raga... skipping.
------------
Missing field/result for taoudenni... skipping.
------------
Missing field/result for lompoc... skipping.
------------
Missing field/result for adrar... skipping.
------------
Missing field/result for providencia... skipping.
------------
Missing field/result for kasane... skipping.
------------
Missing field/result for upington... skipping.
------------
Missing field/result for ndele... skipping.
------------
Missing field/result for mount isa... skipping.
------------
Missing field/result for diego de almagro... skipping.
------------
Missing field/result for diffa... skipping.
------------
Missing field/result for kanye... skipping.
------------
Missing field/result for jega... skipping.
------------

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [24]:
%%capture --no-display
hotel_df = hotel_df[hotel_df['Hotel Name'].notna()]
hotel_df = hotel_df.rename(columns={"Latitude": "Lat", "Longitude": "Lng"})
hotel_df

,City,Country,Temperature,Humidity,Cloudiness,Windspeed,Lat,Lng,Date,Hotel Name
0,pacific grove,US,72.55,29,0,4.61,36.6177,-121.9166,1668978771,
1,tessalit,ML,72.72,13,57,9.62,20.1986,1.0114,1668978783,
2,arlit,NE,75.78,12,79,10.63,18.7369,7.3853,1668978797,
3,bara,NG,77.47,27,4,8.32,10.3744,10.7288,1668978816,
4,wukari,NG,79.38,30,68,4.29,7.8500,9.7833,1668978828,
5,nioro,GM,77.25,20,100,3.85,13.3500,-15.7500,1668978838,
6,guerrero negro,MX,71.80,30,2,7.56,27.9769,-114.0611,1668978840,
7,pindiga,NG,76.53,27,2,7.31,9.9833,10.9333,1668978848,
8,kidal,ML,75.70,11,78,9.31,18.4411,1.4078,1668978854,
9,banikoara,BJ,78.62,21,91,4.45,11.2985,2.4386,1668978860,
10,raga,SS,74.64,26,58,3.02,8.4596,25.6780,1668978863,
11,taoudenni,ML,74.79,13,0,12.39,22.6783,-3.9836,1668978865,
12,lompoc,US,75.78,20,0,12.66,34.6391,-120.4579,1668978573,
13,adrar,MR,73.58,14,0,9.64,20.5022,-10.0711,1668978875,
14,providencia,MX,78.42,23,0,7.36,28.7167,-111.5833,1668978804,
15,kasane,BW,79.11,27,2,3.94,-17.8167,25.1500,1668978886,
16,upington,ZA,74.80,9,98,3.91,-28.4478,21.2561,1668978887,
17,ndele,CF,75.04,28,39,4.68,8.4109,20.6473,1668978889,
18,mount isa,AU,76.77,20,40,8.05,-20.7333,139.5000,1668978889,
19,diego de almagro,CL,76.68,27,0,11.16,-26.3667,-70.0500,1668978911,
20,diffa,NE,74.46,18,100,9.19,13.3154,12.6113,1668978916,
21,kanye,BW,72.09,13,99,5.55,-24.9667,25.3327,1668978918,
22,jega,NG,77.25,19,26,7.74,12.2175,4.3792,1668978929,

In [25]:
# Using the template add the hotel marks to the heatmap
info_box_template = """

Name
{Hotel Name}

City
{City}
Country
{Country}

"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [26]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='1000px'))